@model ODataERP.Models.SalesOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SalesOrder</legend>

    <div class="display-label">DeliveryDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeliveryDate)
    </div>

    <div class="display-label">PaymentTerms</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentTerms)
    </div>

    <div class="display-label">Priority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">Customer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
